/target/
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
.vs/
*.csproj
*.sln
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
UnityProject/Packages/packages-lock.json
